@charset "ISO-8859-1";


h1, h3{
	text-align: center;
}

.links{
	margin-left: 40%;
	margin-right: auto;
}

.desc{
	margin-left: 40%;
	display: flex;
	float: left;
}

.abtDesc{
	margin-right: 10px;
}

.abtDesc, .projDesc{
	border: 1px solid black;
	margin: 10px;	
	width: 25x;
	height: 25px;	
}


a{
	padding: 50px;	
	margin: 50px;
}

